@import url("/uikit/index.css");

.ctn {
    display: flex;
    gap: 8px;

    .column {
        flex-direction: column;
    }
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;

    .inner {
        display: flex;
        align-items: center;
        gap: 8px;

        width: 100%;
        max-width: 725px;
        box-sizing: border-box;
        padding: 12px 16px;

        background-color: var(--bg-1);
        box-shadow: 0 0 10px var(--bg-1);

        span {
            font-weight: bold;
            font-size: var(--fs-md);
            margin-right: auto;
        }

        a {
            display: flex;
            align-items: center;
            gap: 4px;

            padding: 8px 10px;
            border-radius: var(--br-md);

            color: var(--tx-2);
            text-decoration: none;
            font-size: var(--fs-md);

            &:hover {
                color: var(--tx-2);
                background-color: var(--bg-2);
            }

            &.selected {
                color: var(--ac-1);
                background-color: var(--ac-1-25);
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 4px;

            overflow-x: auto;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;

    .inner {
        max-width: 725px;
        padding: 12px 16px;

        overflow-y: auto;

        width: 100%;
        height: calc(100vh - 50px);
        box-sizing: border-box;

        border-radius: var(--br-lg) var(--br-lg) 0 0;
        background-color: var(--bg-2);
    }
}

a {
    color: var(--ac-1);
    text-decoration: underline;
    text-decoration-color: var(--ac-1-50);

    &:hover {
        text-decoration-color: var(--ac-1);
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    &._50 {
        th, td {
            width: 50%;
        }
    }

    tr.header {
        th, td {
            border: none;
        }
    }

    th, td {
        text-align: left;
        border: 1px solid var(--bg-3);
        padding: 6px;

        &._75 {
            width: 75%;
        }
    }

    tr:nth-child(2n) {
        background-color: var(--bg-3-50);
    }
}

.navBtns {
    display: flex;
    gap: 8px;

    button, a {
        display: flex;
        align-items: center;
        gap: 4px;

        border-radius: var(--br-md);
        background-color: var(--bg-3);

        font-family: var(--font);
        font-feature-settings: var(--font-features);
        font-size: var(--fs-md);

        color: var(--tx-2);
        text-decoration: none;
        box-sizing: border-box;

        border: none;
        padding: 8px 10px;
        cursor: pointer;
    }
}
