@import url("/uikit/index.css");

.ctn {
    display: flex;
    gap: 8px;

    .column {
        flex-direction: column;
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    &._50 {
        th, td {
            width: 50%;
        }
    }

    tr.header {
        th, td {
            border: none;
        }
    }

    th, td {
        text-align: left;
        border: 1px solid var(--bg-3);
        padding: 6px;

        &._75 {
            width: 75%;
        }
    }

    tr:nth-child(2n) {
        background-color: var(--bg-3-50);
    }
}

.wide {
	width: 100%;
}

.ti {
	font-size: 18px;
}
