.button {
    gap: 8px;
    cursor: pointer;

    @media screen and (max-width: 1215px) {
        &.nav.collapse {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 0;
            gap: 0;

            height: 40px;
            width: 40px;

            border-radius: var(--br-mx);
        }
    }

    &.thin {
        padding: 6px 8px;
    }

    &.circle {
        border-radius: var(--br-mx);
    }

    &.wide {
        width: 100%;
    }

    &.center {
        justify-content: center;
    }

    &.primary {
        color: var(--ac-1);
        background: var(--ac-1-50);
    }

    &.primary.nav {
        color: var(--ac-1);
        background: var(--ac-1-50);
        box-shadow: var(--funky-effect);

        &:hover {
            color: var(--ac-1);
            background: var(--ac-1-50);
            box-shadow: var(--funky-effect);
        }
    }

    &.nav {
        background-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: var(--bg-2);
            box-shadow: var(--funky-effect);
        }
    }

    &.danger {
        color: var(--danger);
        background: var(--danger-50);
    }
}
