#root {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.pageHeader {
    display: flex;
    align-items: center;

    height: 50px;
    width: 100%;
    box-sizing: border-box;

    padding: 12px 16px;
    gap: 8px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--tx-1);
    }

    .title {
        color: var(--tx-1);
        font-weight: 500;

        width: 100%;
        box-sizing: border-box;
    }

    .children {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        flex-grow: 1;

        color: var(--tx-1);
    }
}

.pageWrapper {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: calc(100vh - 50px);
    box-sizing: border-box;

    max-width: 725px;

    @media screen and (max-width: 780px) {
        &.hasBottomBar {
            height: calc(100vh - 50px - (65px + env(safe-area-inset-bottom)));
        }

        max-width: 100vw;
    }

    background-color: var(--bg-2);
    border-radius: var(--br-lg) var(--br-lg) 0 0;

    overflow-x: hidden;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: var(--bg-3) var(--bg-2);

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.none {
        padding: 0;
    }

    &.timeline {
        padding: 8px;
    }

    &.full {
        padding: 12px;
    }
}
